<section class="section-container">
  <header>
    HEADER
  </header>

  <article class="article-container-wrap">
    <div class="article-container">
      <div class="welcome">
        Welcome to
      </div>
      <div class="name">
        SOCIAL SIDE
      </div>
    </div>
  </article>

  <footer>
    FOOTER
  </footer>
</section>


<h1>Welcome to Social Side</h1>
<p>
  It's <%= DateTime.now.strftime("%B %d. %Y, %H:%M:%S") %>
</p>
