<%# renderd layout for unsigned pages %>
<%= render 'layouts/unsigned_navbar' %>

<section class="section-container">

  <article class="article-container-wrap">
    <div class="article-container">
      <div class="welcome">
        Welcome to
      </div>
      <div class="name">
        SOCIAL SIDE
      </div>
    </div>
  </article>

</section>
