<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<!-- Upper container with search bar, friend requests
This part is now in _navbar.html.erb if something goes wrong 
User search still made through Posts controller -->

<!-- index container with all other data -->
<div class="index-container">
  <!-- container for table with posts, comments and likes -->
  <div class="index-posts-container">
    <% if user_signed_in? %>
      <%= link_to 'New Post', new_post_path %>
    <% end %>
    <% @posts.sort_by{ |e| e.created_at }.reverse_each do |post| %>
      <% if post.user.friends.include?(current_user) || post.user.inverse_friends.include?(current_user) || post.user == current_user %>
        <%= render 'post_list', post: post %>
      <% end %>
    <% end %>
  </div>
</div>
