/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// config
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  // overflow: hidden;
}

@import "posts.scss";
@import "navbar_main.scss";

input[type=submit] {
  background: linear-gradient(to right,#fff, #69f 20%, rgb(20, 130, 250) 30%, rgb(20, 130, 250));
  color: rgb(255, 255, 255);
  font-weight: 800;
  border-end-end-radius: 45%;
  border-style: none;
  border-right: solid 7px;
  border-color: rgba(55, 157, 253, 0.76);
  padding-left: 12px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=submit]:hover {
  transform: scale(1.03);
  border-color: rgb(55, 157, 253);
}
.notification-container {
  position: relative;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  color: green;
  z-index: 3;
  font-size: 20px;
  font-weight: bold;
}

// Sign in / Sign up pages
.unsigned {
  position: absolute;
  top: 0;
  width: 100%;
}
.unsigned-container {
  margin-top: 50px;
  padding: 50px;
  div {
    position: relative;
    margin: 0 auto;
    padding-top: .5rem;
    text-align: center;
    width: max-content;
  }
}
