// Place all the styles related to the FriendRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pending-friend-requests-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.pending-friend-requests-container-item {
  display: inline-flex;
  justify-content: space-between;
  align-content: flex-end;
  padding: 2px;
}

.friend-request-accept-button-container {
  padding-left: 5px;
}
