// Place all the styles related to the FriendRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pending-friend-requests-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.pending-friend-requests-container-item {
  display: inline-flex;
  justify-content: space-between;
  align-content: flex-end;
  padding: 5px;
}

.friend-request-accept-button-container {
  padding-left: 10px;
}

.friend-request-accept-button {
  background: linear-gradient(to right,#fff, #69f 20%, rgb(20, 130, 250) 30%, rgb(20, 130, 250));
  color: rgb(255, 255, 255);
  font-weight: 800;
  border-end-end-radius: 45%;
  border-style: none;
  border-right: solid 7px;
  //border-top: solid 1px;
  border-color: rgba(55, 157, 253, 0.76);
  padding-left: 12px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.friend-request-accept-button:hover {
  transform: scale(1.03);
  border-color: rgb(55, 157, 253);
}
