// NAVBAR 2.0
.navbar-main {
  width: 100%;
  height: 60px;
  background-color: rgb(157, 230, 157);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-wrapper {
  width: 95%;
  height: 50px;
  background-color: rgb(96, 221, 215);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.navbar-user {
  width: 120px;
  height: 160px;
  background-color: rgb(223, 107, 107);
  .thumbnail {
    position: relative;
    margin-top: 1rem;
    // z-index: 10;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-dropdown {
    position: relative;
    &-menu {
      position: absolute;
      display: none;
      z-index: 10;
    }
  }
  border-radius: 6px 12px 24px 48px;
}
.navbar-actions {
  width: 30%;
  height: 100%;
  background-color: rgb(101, 228, 84);
}

// NAVBAR STYLES

.search-users-container, .navbar-container {
  display: flex;
  position: relative;
  margin-left: 2vw;
  right: 3vw;
  padding: 5px;
  justify-content: flex-end;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.find-friends-button {
  //background: linear-gradient(to right,#fff, #69f 20%, rgb(20, 130, 250) 30%, rgb(20, 130, 250));
  background: linear-gradient(to right,rgb(254, 254, 255), rgb(150, 154, 163) 10%, rgb(155, 154, 165) 90%, rgb(200, 200, 200)) !important;
  padding: 2px 9px 9px 20px;
}

.search-users-container-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  left: auto;
  margin-top: 25px;
  z-index: 2;
}

.search-users-container-results-child, .index-friend-requests-container {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-right: 30px;
  padding-top: 5px;
  margin-top: 8px;
  background-color: rgba(228, 249, 255, 0.9);
  border-radius: 7%;
  border: solid rgba(0, 15, 58, 0.185) 1px;
}

.searched-user-container {
  display: inline-flex;
  justify-content: space-between;
  padding: 3px;
}

.searched-user-button {
  padding-left: 20px;
}

.close-searched-users-button {
  background: linear-gradient(to right,rgb(254, 254, 255), rgb(150, 154, 163) 45%, rgb(155, 154, 165) 55%, rgb(200, 200, 200)) !important;
  font-size: 10px;
}

.friend-requests-show-button {
  background: linear-gradient(to right,rgb(254, 254, 255), rgb(150, 154, 163) 10%, rgb(155, 154, 165) 90%, rgb(200, 200, 200)) !important;
  padding: 2px 9px 9px 20px;
  margin-left: 10px;
  height: 24px;
  margin-top: 3px;
}

.index-friend-requests-container {
  display: none;
  position: absolute;
  margin-top: 33px;
  width: 350px;
  padding: 5px;
  z-index: 2;
}
