// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NAVBAR STYLES

.search-users-container {
  display: flex;
  position: relative;
  margin-left: 2vw;
  right: 3vw;
  padding: 5px;
  justify-content: flex-end;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.find-friends-button {
  //background: linear-gradient(to right,#fff, #69f 20%, rgb(20, 130, 250) 30%, rgb(20, 130, 250));
  background: linear-gradient(to right,rgb(254, 254, 255), rgb(150, 154, 163) 10%, rgb(155, 154, 165) 90%, rgb(200, 200, 200)) !important;
  padding: 2px 9px 9px 20px;
}

.search-users-container-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  left: auto;
  margin-top: 25px;
}

.search-users-container-results-child, .index-friend-requests-container {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-right: 30px;
  padding-top: 5px;
  margin-top: 8px;
  background-color: rgba(228, 249, 255, 0.9);
  border-radius: 7%;
  border: solid rgba(0, 15, 58, 0.185) 1px;
}

.searched-user-container {
  display: inline-flex;
  justify-content: space-between;
  padding: 3px;
}

.searched-user-button {
  padding-left: 20px;
}

.close-searched-users-button {
  background: linear-gradient(to right,rgb(254, 254, 255), rgb(150, 154, 163) 45%, rgb(155, 154, 165) 55%, rgb(200, 200, 200)) !important;
  font-size: 10px;
}

.friend-requests-show-button {
  background: linear-gradient(to right,rgb(254, 254, 255), rgb(150, 154, 163) 10%, rgb(155, 154, 165) 90%, rgb(200, 200, 200)) !important;
  padding: 2px 9px 9px 20px;
  margin-left: 10px;
  height: 24px;
  margin-top: 3px;
}

.index-friend-requests-container {
  display: none;
  position: absolute;
  margin-top: 33px;
  width: 350px;
  padding: 5px;
}

// MAIN CONTENT STYLES

div {
  border: solid 1px;
}

.index-container {
  display: flex;
  position: static;
  justify-content: space-around;
}

.index-posts-container {
  max-width: 80vw;
}

.post-container {
  display: grid;
  grid-template-columns: 10vw 70vw;
}

.post-container-user {
  text-align: center;
  padding: 5px 0 5px 0;
}

.post-container-user-thumbnail {
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  margin: 5px 1vw 5px 1vw;
  background-color: rgba(184, 135, 11, 0.651);
}

.post-container-content-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  padding-right: 3vw;
  font-size: 18px;
}

.post-container-content-body-actions {
  position: absolute;
  right: .2vw;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 13px;
}

.post-container-content-likes {
  display: flex;
  padding: .5vw;
}

.post-likes-count {
  margin-left: 1vw;
}

.post-container-content-comments {
  display: flex;
  flex-direction: column;
  padding: .5vW;
}

.post-container-content-comment {
  display: grid;
  grid-template-columns: 7vw auto auto;
  padding: .3vw;
}

.post-container-content-comment-add-form {
  display: flex;
  justify-content: space-between;
  padding: .2vw;
}

.post-container-content-comment-delete, .post-container-content-comment-add {
  position: relative;
  right: .2vw;
  text-align: end;
  //width: 150px;
}
