// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// div {
//   border: solid 1px;
// }

.profile-show-container {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.profile-show-container-2 {
  display: grid;
  grid-template-columns: 20vw auto 25vw;
  width: 80%;
  margin-bottom: 30px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profile-info-container-children {
  padding: 10px;
  text-align: center;
}

.profile-friends-ul {
  list-style: none;
  padding-left: 0px;
}

.profile-picture-container-avatar {
  text-align: center;
  border-left: solid 1px;
  border-right: solid 1px;
}

.profile-picture-container-img {
  //max-width: 45vw;
  max-width: 50%;
  max-height: 50%;
}

.profile-description-container-body {
  padding: 10px;
  text-align: center;
}
