// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://static.toiimg.com/photo/msid-68113999,width-96,height-65.cms);
  background-size: cover;
}

// HEADER
header {
  background-color: rgba(47, 79, 79, 0.4);
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.header-wrapper {
  display: flex;
  width: 50vw;
}

.header-wrapper div {
  height: 32px;
  width: 8vw;
  border-radius: 12px;
  margin: .5vw;
  margin-top: 24px;
  border: solid 1px rgba(53, 52, 52, 0.5);
  box-shadow: 0 3px 3px rgba(70, 71, 71, 0.781);
  z-index: 1;
  min-width: 70px;
}

.nav-bar-wrap1 {
  margin-left: 3vw;
  background-color: rgb(41, 12, 12);
  background-image: radial-gradient(farthest-corner at 0 0, #3B5998, #3B5998 10%, #3b589875 50%, #3B5998 90%, #3B5998);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(230, 230, 180);
  font-family: 'Paytone One', sans-serif;
  border: outset 3px #3B5998;
}

.nav-bar-wrap2 {
  // background-color: rgb(20, 40, 220);
  background-image: radial-gradient(farthest-corner at 0 0, #3B5998, #3B5998 10%, #3b589875 50%, #3B5998 90%, #3B5998);
  background-color: #3de0cb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(230, 230, 180);
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Paytone One', sans-serif;
  border: outset 3px #3B5998;
}

.facebook-logo {
  // background-color: rgba(255, 255, 255, 0.13);
  // color: white;
  height: 40px;
  width: 40px;
  margin: -5px;
}

.nav-bar-wrap3 {
  // background-color: rgb(20, 40, 220);
  background-image: radial-gradient(farthest-corner at 0 0, #3B5998, #3B5998 10%, #3b589875 50%, #3B5998 90%, #3B5998);
  background-color: #ff006a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(230, 230, 180);
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Paytone One', sans-serif;
  border: outset 3px #3B5998;
}

.header-wrapper div:hover {
  scale: 1.05;
  cursor: pointer;
}

.header-wrapper div:active {
  scale: .95;
  border: inset 3px #3B5998;
  box-shadow: none;
}

@media only screen and (max-width: 1500px) {
  .nav-bar-wrap2 span {
    display: none;
  }
}

@media only screen and (min-width: 2500px) {
  .header-wrapper div {
    // scale: 1.5;
    // width: 5vw;
    height: 2vh;
    font-size: 1vh;
    margin-left: 4vw;
    // margin-top: 24px;
  }
  .header-wrapper {
    // margin-left: 5vw;
  }
  .header-wrapper * {
    scale: 1.5;
    // margin-left: 5vw;
  }
  .nav-bar-wrap1 {
    margin-left: 1vw;
  }
}

// ARTICLE
.article-container-wrap {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 15%;
  right: 15%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(221, 221, 221, 0.4) 2%, rgba(221, 221, 221, 0.4) 98%, rgba(255, 255, 255, 0));
}

.article-container {
  margin: 0 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  // font-family: Tahoma;
  font-family: 'Paytone One', sans-serif;
  font-size: 4vw;
  width: 70%;
  height: 5vw;
  color: rgba(41, 12, 12, 0.712);
  color: rgba(59, 101, 129, 0.6);
  // border: solid 1px;
}

.name {
  // font-family: Tahoma;
  font-family: 'Paytone One', sans-serif;
  font-size: 8vw;
  width: 90%;
  height: 20%;
  color: rgba(59, 101, 129, 0.6);
  color: rgba(41, 12, 12, 0.712);
  // border: solid 1px;
}

// FOOTER
footer {
  background-color: rgba(47, 79, 79, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
  